*, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Articulat CF';
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #F2F2F2;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:hover {
  cursor: pointer;
}

html, body {margin: 0; height: 100%;}
