.slick-dots {
  display: flex;
  gap: 10px;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  background-color: #4A4A4A;
  border-radius: 100%;
}

.header-static {
  height: 68px;
  background-color: #4A4A4A;
}

.header-fixed {
  position: fixed;
  height: 68px;
  width: 100%;
  background-color: #4a4a4ac6;
  padding: 0px 133px;
  font-size: 14px;
  font-weight: 300;
  color: white;
  top: 0;
  left: 0;
  z-index: 2;
  margin: auto;
  letter-spacing: 1px;
}

.dropdown-menu__container {
  position: relative;
}

.menu-items {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  background-color: #4A4A4A;
}

.menu-items > div {
  padding: 15px;
}

.dropdown-menu__container:hover,
.header-logo:hover {
  cursor: pointer;
}

.active {
  display: block;
}

.header-logo:hover .header-fixed {
  background-color: #4a4a4a;
}

.dropdown-menu__container:hover .header-fixed {
  background-color: #4a4a4a;
}

.active-bg {
  background-color: #4a4a4a;
}

.logo-img-header {
  width: 34px;
  height: 30px;
}

@media(min-width: 1600px) {
  .logo-img-header {
    margin-top: 3px;
  }
}

.header-logo {
  margin-right: 30px;
}

.header-fixed__container {
  max-width: 1175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 100%;
}

.header-section {
  display: flex;
  justify-content: flex-end;
}

.logo-main-svg {
  width: 94px;
  height: 98px;
}

.header-section__img {
  height: 757px;
  width: 1220px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-section__logo {
  position: absolute;
  top: 45px;
  left: 187px;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-section {
  display: flex;
  gap: 119px;
  margin-top: 88px;
  justify-content: center;
}

.about-section__left {
  display: flex;
  flex-direction: column;
}

.about-section__left > div, a {
  display: flex;
  justify-content: flex-end;
}

.left__first-text {
  font-size: calc(16px + 12 * (100vw / 1440));
  font-weight: 400;
}

.last {
  margin-bottom: 15px;
}

.first {
  margin-top: 30px;
}

.fridges {
  margin-bottom: 69px;
}

.left__second-text {
  font-size: calc(20px + 30 * (100vw / 1440));
  font-weight: 500;
}

.left__third-text {
  font-size: calc(12px + 9 * (100vw / 1440));
  font-weight: 400;
}

.about-section__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 1150px;
}

.icon-blocks > a {
  display: flex;
  justify-content: flex-start;
}

.right__first-text {
  font-size: calc(16px + 12 * (100vw / 1440));
  font-weight: 400;
}

.right__second-text {
  font-size: calc(22px + 26 * (100vw / 1440));
  font-weight: 400;
  margin-bottom: 64px;
}

.icon-blocks {
  display: flex;
  flex-direction: column;
}

.empty {
  height: 235px;
}

.icon-blocks__container {
  font-size: calc(16px + 12 * (100vw / 1440));
  font-weight: 300;
  display: flex;
  gap: 70px;
  line-height: 40px;
  margin-bottom: 34px;
}

.margin {
  margin-bottom: 0;
}

.anim-flex {
  display: flex;
  flex-direction: column;
}

.first-block-anim {
  animation: FirstBlock 1s linear;
}

@keyframes FirstBlock {
  from {
    opacity: 0;
    transform: translateY(100px)
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.anim-1 {
  transform: translateY(100px);
  opacity: 0;
}

.anim-2 {
  transform: translateY(100px);
  opacity: 0;
}

.anim-3 {
  transform: translateY(100px);
  opacity: 0;
}

.anim-4 {
  transform: translateY(100px);
  opacity: 0;
}

.nullTraslate {
  opacity: 1;
  transform: translate(0px, 0px);
}

.icon-block__img {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner__text {
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coffee-section {
  position: relative;
  height: 570px;
  width: 100%;
  margin-top: 173px;
}

.coffee-section__absolute {
  position: absolute;
  top: 10%;
  left: 45%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text-p {
  font-size: 21px;
  color: white;
  font-weight: 400;
}

.coffee-png {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.logo-2-svg {
  width: 43px;
  height: 38px;
}

.system-section {
  margin: auto;
  margin-top: 101px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 900px;
  height: 382px;
  padding-right: 100px;
}

.system-section > * {
  display: flex;
  justify-content: flex-start;
}

.text-system {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 10px;
}

.second-system-anchor {
  font-size: 28px;
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}

.second-system {
  font-size: 28px;
  font-weight: 300;
  position: relative;
  top: 10px;
}

.big-button {
  font-size: 48px;
  font-weight: 300;
  color: #009245;
  position: relative;
  bottom: -7px;
  left: 10px;
}

.block-data {
  display: flex;
  margin: auto;
  margin-top: 165px;
  gap: 20px;
}

.block-data__contain {
  display: flex;
  flex-direction: column;
}

.block-data__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  overflow: hidden;
  width: 60px;
  height: 60px;
  position: relative;
  left: 100px;
}

.moved {
  transform: translateX(50px);
  opacity: 0;
}

.icon-anim {
  animation: IconAnim 0.5s linear;
}

@keyframes IconAnim {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.sand {
  top: 8px;
}

.block-data-first {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 10px;
}

.block-data-second {
  font-size: 21px;
  font-weight: 300;
  width: 360px;
}

.section-block-data-coffee {
  display: flex;
  flex-direction: column;
  margin-bottom: 240px;
}

.block-data__info {
  height: 160px;
}

.block-data__addon {
  margin-top: 63px;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 10px;
}

.white-section {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.white-section-block {
  margin-top: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.white-section-first {
  font-size: 28px;
  font-weight: 400;
}

.white-section-second {
  font-size: 28px;
  font-weight: 400;
}

.Premium {
  font-size: calc(20px + 30 * (100vw / 1440));
  font-weight: 500;
}

.white-section-diff-block {
  display: flex;
  margin-top: 70px;
  margin-bottom: 160px;
  gap: 63px;
}

.p-elem-diff > p {
  font-size: 21px;
  font-weight: 400;
}

.make-block-section {
  display: flex;
  flex-direction: column;
  margin-top: 108px;
}

.make-block-class {
  margin: auto;
  display: flex;
  margin-bottom: 329px;
}

.text-block-class-make {
  margin-left: 120px;
  margin-top: 140px;
}

.favorite-coffee {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 5px;
}

.favorite-coffee-last {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 230px;
}

.children-icons {
  display: flex;
  gap: 37px;
  align-items: baseline;
}

.strong-tasty {
  display: block;
  font-size: 21px;
  margin-bottom: 15px;
  font-weight: 500;
}

.p-tasty {
  font-size: 21px;
  font-weight: 300;
}

.smart-section-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.smart-section-block-2 {
  width: 800px;
  display: flex;
  gap: 64px;
  margin: auto;
  margin-top: 30px;
  justify-content: end;
  align-items: center;
}

.smart-section-block__container {
  display: flex;
  flex-direction: column;
}

.smart-p-2 {
  font-size: 21px;
  font-weight: 300;
}

.smart-img {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: 75px;
}

.img-style-smart {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.smart-container {
  display: flex;
  gap: 123px;
  margin: auto;
  margin-top: 53px;
}

.quality-assortment {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 6px;
  text-align: end;
}

.quality-assortment-all {
  margin-top: 40px;
  font-weight: 400;
  font-size: 28px;
  text-align: end;
}

.icons-text {
  display: flex;
  gap: 37px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
}

.smart-section {
  display: flex;
  flex-direction: column;
}

.swiper {
  margin-bottom: 500px;
  box-sizing: border-box;
}

.my-pagination {
  margin-top: 153px;
}

.swiper .swiper-pagination-bullet {   /*added*/
  width: 15px;                            /*added*/
  height: 15px;                           /*added*/
  display: block;                   /*added*/
  align-items: center;                    /*added*/
  justify-content: center;                /*added*/
  background-color: #4D4D4D;                        /*added*/
  opacity: 1;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #009245; 
}

.swiper-pagination {
  position: static !important;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.text-slider {
  position: relative;
}

.absolute-slier {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

.swiper-slide {
  width: 553px;
  height: 343px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.special-icon {
  font-size: 60px;
  font-weight: 200;
  color: #009245;
}

.background-smart {
  background-color: white;
  display: flex;
  padding-bottom: 154px;
}

.fast-p {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 139px;
}

.container-fast-p {
  margin-top: 319px;
  display: flex;
  justify-content: center;
}

.fast-slider {
  display: flex;
  gap: 19px;
  overflow-x: scroll;
  flex-wrap: nowrap;
  margin-bottom: 152px;
  margin-left: -50px;
}

.fast-slider::-webkit-scrollbar {
  display: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.fast-slider__slide {
  position: relative;
  min-width: 542px;
  max-height: 342px;
}

.slider-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.slider__absolute-1 {
  position: absolute;
  top: 186px;
  left: 353px;
  color: white;
}

.slider__absolute-2 {
  position: absolute;
  top: 14px;
  left: 40px;
}

.slider__absolute-3 {
  position: absolute;
  bottom: 12px;
  right: 53px;
}

.slider__absolute-4 {
  position: absolute;
  left: 23px;
  bottom: 43px;
}

.p-coffee{
  font-size: 21px;
  font-weight: 400;
  color: white;
}

.p-coffee-2 {
  font-size: 28px;
  font-weight: 400;
  color: white;
}

.p-coffee-3 {
  font-size: 21px;
  color: #4D4D4D;
  margin-bottom: 14px;
}

.p-coffee-4 {
  font-size: 28px;
  color: #4D4D4D;
  text-align: end;
}

.right {
  text-align: end;
}

.black {
  color: black;
}

.buttons-rounded {
  margin: auto;
  display: flex;
  gap: 25px;
  margin-bottom: 350px;
}

.btn-1 {
  width: 15px;
  height: 15px;
  background-color: #4D4D4D;
  border-radius: 100%;
}

.btn-2 {
  width: 15px;
  height: 15px;
  background-color: #4D4D4D;
  border-radius: 100%;
}

.btn-3 {
  width: 15px;
  height: 15px;
  background-color: #4D4D4D;
  border-radius: 100%;
}

.btn-4 {
  width: 15px;
  height: 15px;
  background-color: #009245;
  border-radius: 100%;
}

.btn-5 {
  width: 15px;
  height: 15px;
  background-color: #4D4D4D;
  border-radius: 100%;
}

.footer {
  background-color: #E6E6E6;
  padding-top: 68px;
  font-size: 14px;
  font-weight: 500;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-first {
  color: #333333;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 62px;
  font-weight: 500;
}

.footer-logo-div {
  margin-right: 30px;
  position: relative;
  bottom: 5px;
}

.footer-second {
  color: #4D4D4D;
  display: flex;
  gap: 92px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 130px;
}

.img-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-p-1 {
  margin-bottom: 20px;
}

.footer-p-2 {
  margin-bottom: 9px;
}

.footer-p-3 {
  margin-bottom: 36px;
}

.more-about {
  transition: 0.4s;
  color: #009245;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  text-decoration: none;
}

@media(max-width: 1500px) {
  .more-about {
    font-weight: 400;
  }
}

.bottom {
  margin-top: 90px;
}

.footer-div-4 {
  display: flex;
  gap: 35px;
}

@media(max-width: 1500px) {
  .logo-img-header {
    width: 32px;
    height: 28px;
  }
  
  .header-logo {
    margin-right: 28px;
  }
  
  .header-fixed__container {
    max-width: 1100px;
  }
  
  .logo-main-svg {
    width: 92px;
    height: 96px;
  }
  
  .header-section__img {
    height: 754px;
    width: 1200px;
  }
  
  .left__first-text {
    font-size: calc(12px + 12 * (100vw / 1440));
  }
  
  .last {
    margin-bottom: 40px;
  }
  
  .left__second-text {
    font-size: calc(16px + 30 * (100vw / 1440));
  }
  
  .left__third-text {
    font-size: calc(8px + 9 * (100vw / 1440));
    margin-bottom: 10px;
  }

  .fridges {
    margin-bottom: 60px;
  }
  
  .about-section__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 1030px;
  }
  
  .icon-blocks > a {
    display: flex;
    justify-content: flex-start;
  }
  
  .right__first-text {
    font-size: calc(12px + 12 * (100vw / 1440));
    font-weight: 400;
  }
  
  .right__second-text {
    font-size: calc(18px + 26 * (100vw / 1440));
    font-weight: 400;
    margin-bottom: 40px;
  }
  
  .icon-blocks {
    display: flex;
    flex-direction: column;
  }
  
  .empty {
    height: 235px;
  }
  
  .icon-blocks__container {
    font-size: calc(12px + 12 * (100vw / 1440));
    gap: 30px;
    margin-bottom: 20px;
  }
  
  .icon-block__img {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .coffee-section {
    position: relative;
    height: 570px;
    width: 100%;
    margin-top: 173px;
  }
  
  .coffee-section__absolute {
    position: absolute;
    top: 10%;
    left: 45%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .text-p {
    font-size: calc(8px + 9 * (100vw / 1440));
    color: white;
    font-weight: 400;
  }
  
  .coffee-png {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .logo-2-svg {
    width: 43px;
    height: 38px;
  }
  
  .system-section {
    margin: auto;
    margin-top: 101px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 900px;
    height: 382px;
    padding-right: 100px;
  }
  
  .system-section > * {
    display: flex;
    justify-content: flex-start;
  }
  
  .text-system {
    display: flex;
    flex-direction: column;
    font-size: calc(12px + 12 * (100vw / 1440));
    font-weight: 400;
    padding-bottom: 10px;
  }
  
  .second-system-anchor {
    font-size: calc(12px + 12 * (100vw / 1440));
  }
  
  .second-system {
    font-size: calc(12px + 12 * (100vw / 1440));
  }
  
  .big-button {
    font-size: 42px;
    font-weight: 300;
    color: #009245;
    position: relative;
    bottom: -7px;
    left: 10px;
  }
  
  .block-data {
    display: flex;
    margin: auto;
    margin-top: 165px;
    gap: 20px;
  }
  
  .block-data__contain {
    display: flex;
    flex-direction: column;
  }
  
  .block-data-first {
    font-size: calc(8px + 9 * (100vw / 1440));
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .block-data-second {
    font-size: calc(8px + 9 * (100vw / 1440));
  }
  
  .section-block-data-coffee {
    display: flex;
    flex-direction: column;
    margin-bottom: 240px;
  }
  
  .block-data__info {
    height: 160px;
  }
  
  .block-data__addon {
    margin-top: 63px;
    font-size: calc(8px + 9 * (100vw / 1440));
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .white-section {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .white-section-block {
    margin-top: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .white-section-first {
    font-size: calc(12px + 12 * (100vw / 1440));
    font-weight: 400;
  }
  
  .white-section-second {
    font-size: calc(12px + 12 * (100vw / 1440));
    font-weight: 400;
  }
  
  .Premium {
    font-size: calc(16px + 30 * (100vw / 1440));
    font-weight: 500;
  }
  
  .white-section-diff-block {
    display: flex;
    margin-top: 70px;
    margin-bottom: 160px;
    gap: 63px;
  }
  
  .p-elem-diff > p {
    font-size: calc(8px + 9 * (100vw / 1440));
  }
  
  .make-block-section {
    display: flex;
    flex-direction: column;
    margin-top: 108px;
  }
  
  .make-block-class {
    margin: auto;
    display: flex;
    margin-bottom: 329px;
  }
  
  .text-block-class-make {
    margin-left: 120px;
    margin-top: 140px;
  }
  
  .favorite-coffee {
    font-size: calc(12px + 12 * (100vw / 1440));
  }
  
  .favorite-coffee-last {
    font-size: calc(12px + 12 * (100vw / 1440));
  }
  
  .children-icons {
    position: relative;
    bottom: calc(5px + 5 * (100vw / 1440));
  }
  
  .strong-tasty {
    display: block;
    font-size: calc(8px + 9 * (100vw / 1440));
    margin-bottom: 15px;
    font-weight: 500;
  }
  
  .p-tasty {
    font-size: calc(8px + 9 * (100vw / 1440));
  }
  
  .smart-section-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .smart-section-block-2 {
    width: 800px;
    display: flex;
    gap: 64px;
    margin: auto;
    margin-top: 30px;
    justify-content: end;
    align-items: center;
  }
  
  .smart-section-block__container {
    display: flex;
    flex-direction: column;
  }
  
  .smart-p-2 {
    font-size: calc(8px + 9 * (100vw / 1440));
  }
  
  .smart-img {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-top: 75px;
  }
  
  .img-style-smart {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .smart-container {
    display: flex;
    gap: 123px;
    margin: auto;
    margin-top: 53px;
  }
  
  .quality-assortment {
    font-size: calc(12px + 12 * (100vw / 1440));
  }
  
  .quality-assortment-all {
    font-size: calc(12px + 12 * (100vw / 1440));
    font-weight: 500;
  }
  
  .icons-text {
    display: flex;
    gap: 37px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
  }
  
  .smart-section {
    display: flex;
    flex-direction: column;
  }
  
  .special-icon {
    font-size: 60px;
    font-weight: 200;
    color: #009245;
  }
  
  .background-smart {
    background-color: white;
    display: flex;
    padding-bottom: 154px;
  }
  
  .fast-p {
    font-size: calc(12px + 12 * (100vw / 1440));
  }
  
  .fast-slider {
    display: flex;
    gap: 19px;
    overflow-x: scroll;
    flex-wrap: nowrap;
    margin-bottom: 152px;
    margin-left: -50px;
  }
  
  .fast-slider::-webkit-scrollbar {
    display: none;
  }
  
  .fast-slider__slide {
    position: relative;
    min-width: 542px;
    max-height: 342px;
  }
  
  .slider-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }
  
  .slider__absolute-1 {
    position: absolute;
    top: 186px;
    left: 353px;
    color: white;
  }
  
  .slider__absolute-2 {
    position: absolute;
    top: 14px;
    left: 40px;
  }
  
  .slider__absolute-3 {
    position: absolute;
    bottom: 12px;
    right: 53px;
  }
  
  .slider__absolute-4 {
    position: absolute;
    left: 23px;
    bottom: 40px;
  }
  
  .p-coffee{
    font-size: calc(8px + 9 * (100vw / 1440));
    font-weight: 400;
    color: white;
  }
  
  .p-coffee-2 {
    font-size: calc(12px + 12 * (100vw / 1440));
  }
  
  .p-coffee-3 {
    font-size: calc(8px + 9 * (100vw / 1440));
    margin-bottom: 12px;
  }
  
  .p-coffee-4 {
    font-size: calc(12px + 12 * (100vw / 1440));
  }

  .footer-second {
    margin-bottom: 80px;
  }
}
